.date {
  color: #d434fe;
  font-size: 24px !important;
  font-weight: bold !important;
  margin-top: -15px;
}

.vertical-timeline-element-content {
  box-shadow: none;
}

@media screen and (max-width: 728px) {
  .date {
    font-size: 12px !important;
    margin-top: initial;
  }
}
