:root {
  font-family: montserrat, unica-one, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: #150e28;

  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

button:hover {
  background: transparent !important;
  border: 2px solid !important;
  border-color: #d434fe !important;
}
